.container {
  margin-top: 20px;
}

body {
  background-color: rgb(243, 255, 240);
}

h1 {
  color: #036b52;
  margin-bottom: 30px;
}

.form-check {
  margin-left: 15px;
}

.btn-primary {
  background-color: #036b52;
  border: #005742;
}

.btn-primary:hover {
  background-color: #01a17c;
}